/* FROM FINOS CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800');
@font-face {
    font-family: "Montserrat Light";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.eot") format("embedded-opentype"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.woff") format("woff"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 800;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.eot") format("embedded-opentype"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.woff") format("woff"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Italic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.eot") format("embedded-opentype"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.woff") format("woff"), 
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.ttf") format("truetype");
}

body {
    font-family: "Montserrat Light";
}
/* END FROM FINOS CSS */

.navbar-size {
    width: 100%;
    float:left;
}

/* The activities <section>, container of <article> elements */
#activities {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.drowdown {
    margin-top: 10px;
}

.btn {
    padding: 0px;
    width: 80%;
    margin-left: 10px;
}

.filter-label {
  float: left;
  display:block;
  width: 70px;
  font-size: 12px;
  word-wrap: break-word;
}
.multiselect-native-select {
  float:right;
}

img#logo {
      width:100px;
      margin-top:10px;
      margin-right:10px;
}

.logo-container a {
      float: left;
}

.logo-container span {
      float: left;
      font-size: 28px;
      color: #00b5e2;
      vertical-align: middle;
      line-height:45px;

}

.langs-container img {
      margin-right: 5%;
      margin-top: 2%;
      height:30px;
      width:auto;
}

.line-separation {
      border-top: 1px solid gray;
      line-height: 22px;
      margin-top: 5%;
}

.repo-link {
      margin-left: 1%;
      display: block;
      line-height: 30px;
}

h3 {
    color: #0086bf;
    font-size: 24px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
}

h4 {
    color: #0086bf;
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Bold";
}

h5 {
    color: black;
    font-size: 14px;
    text-align: center;
}

.activity-repos {
  text-align:left;
}

.activity {
      float: left;
      text-align:center;
      margin: 20px;
      height:260px;
      width: 240px;
      overflow:auto;
      /*position: absolute;*/
      box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
      padding: 10px;
}

.sorts-container {
  text-align: center;
}
#sort {
  display: inline-block;
}

article::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
}

/* Used for card badges */
article > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
}

.icon-container {
      text-align: center;
}

.badge {
      background-color: transparent;
      color: black;
      font-style: bold;
      display: inline-block;
}

.activity-state-badge {
  display:inline-block;
}

.badge img {
      margin-right: 2%;
      margin-left: 2%;
      margin-top: 2%;
      width:25px;
}

/* Activity states and types */
.project-activity-type {
  background: rgba(0,134,191, 0.2);
}
.working_group-activity-type {
  background: rgba(215,200,38, 0.2);
}
/* END Activity states and types */